<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960090436644-79n3f16bth2bi6la6u5mehgjj4qfs3jn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960090436644-79n3f16bth2bi6la6u5mehgjj4qfs3jn</string>
	<key>API_KEY</key>
	<string>AIzaSyBrp6fm_zipLw2t4Pn8RmPCygRzGCPc69M</string>
	<key>GCM_SENDER_ID</key>
	<string>960090436644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miaged.miaged</string>
	<key>PROJECT_ID</key>
	<string>miaged-a561b</string>
	<key>STORAGE_BUCKET</key>
	<string>miaged-a561b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960090436644:ios:a7b3479931dda92ec614b1</string>
</dict>
</plist>